*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 3em;
    padding: 2%;
    color: rgb(33, 33, 33);
}