*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}
.header {
   position: sticky;
   top: 0;  
   z-index: 1000;    
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #333;
   color: #fff;
   padding: 10px 0;
}

.header > a > h1 {
    color:#fff;
}
.header > a{
    text-decoration: none;
}

.titulo {
    color: #ff5722;
    text-align: center;
    padding-top: 3rem;
}

.navegacao > a {
    color: #fff;
    margin-right: 2em;
    text-decoration: none;
    font-weight: bold;
}
.navegacao > a:hover {
   
    text-decoration: overline;
    font-weight: bold;
}



.banner {
  position: relative;
  width: 100%;
  min-height: 40dvh;
  background-image: url('./images/banner.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Conteúdo centralizado */
.banner-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.banner p {
    color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.banner button, .botao_login {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner button:hover, .botao_login:hover {
  background-color: #e64a19;
}

.footer {
    min-height: 30dvh;
    background-color: #333;
}


.direitos{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}








@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .banner p {
    font-size: 1rem;
  }
}
